body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    text-align: center;
    justify-content: center; 
}

#start-screen {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    width: 550px;
    background-color: #555555;
    padding: 15px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1{
    font-size: 100px;
    color: #ffffff;
    text-align: center;
}






