body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black; 
}

#start-screen {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    width: 550px;
    background-color: #3A3A3C;
    padding: 15px;
    margin: 100px auto;
}

h1 {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
}

.logo-image {
    background-image: url("../img/logo_kreis.png");
    background-size: 80px;
    background-repeat: no-repeat;
    padding-left: 80px;

}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, button {
    height: 45px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 1px;
    font-size: 25px;
}

button {
    background-color: #111111;
    border: 2px solid #ffffff;
    font-weight: bold;
    color: #ffffff;
}













