/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- HTML Tags ------------------------------------- */
/* ------------------------------------------------------------------------------------- */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black; 
}

h1 {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, button {
    height: 45px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 1px;
    font-size: 25px;
}

button {
    background-color: #111111;
    border: 2px solid #ffffff;
    font-weight: bold;
    color: #ffffff;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- DIV ID's -------------------------------------- */
/* ------------------------------------------------------------------------------------- */

#start-screen {
    display: none;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    width: 550px;
    background-color: #3A3A3C;
    padding: 15px;
    margin: 50px auto;
}

#game-screen {
    display: none;
    align-items: center; 
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    width: 850px;
    background-color: #3A3A3C;
    padding: 15px;
    margin: 50px auto;
}

#game-main-screen {
    display: flex;
    justify-content: space-between; 
    align-items: top center; 
}

#display-player1,
#game-area, 
#display-player2 {
    padding: 10px;
    width: 200px;
    text-align: center;
}

#game-area {
    width: 360px;
    height: 360px;
    background: #ffffff;
    padding: 0;
    margin-bottom: 30px;
    background-image: url("../img/game-background.png");
    background-repeat: no-repeat;
    border: 10px solid #111111;
    border-radius: 10px;
}

#game-message {
    height: 50px; 
    background-color: #575757;   
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- Klassen --------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.logo-image, .logo-image-large {
    background-origin: content-box;
    background-image: url("../img/logo_kreis.png");
    background-size: 80px;
    background-repeat: no-repeat;
    padding-left: 80px;
}

.logo-image {
    background-position: -80px 0px;
}

.logo-image-large {
    background-position: 114px 0px;
}

.display-player{
    color: #ffffff;
    font-size: 24px;
}

.game-picture{
    width: 120px;
    height: 117px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.link-right {
    text-align: right;
}













